@import "tailwindcss";

@theme {
  --font-cormorant: var(--font-cormorant);
  --font-inter: var(--font-inter);
  
  --color-blue-950: #0a1628;
  --color-orange-300: #fda66b;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea6c0a;
}

@layer base {
  body {
    font-family: var(--font-inter), sans-serif;
  }
  
  .font-cormorant {
    font-family: var(--font-cormorant), serif;
  }

  .font-inter {
    font-family: var(--font-inter), sans-serif;
  }
}